.result {
  height: 40px;
  padding: 2px;
  /* color: #ffffff; */
  font-size: 24px;
  /* box-shadow: 2px 2px 5px black; */
  /* margin-top: 8px; */
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  cursor: pointer;
  border: 1px solid grey;
  /* border-radius: 12px; */
}
