.pageContainer {
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: center;
  min-width: 500px;
  width: 100vw;
  height: 100vh;
  background-color: #ffffff;
}

.contentContainer {
  display: flex;
  flex-direction: column;
}
